<?xml version='1.0'?>
<DebugMenuItems>
	<scriptItem title="Crate Drop" 			author="RB" info="MP_CRATE_D" 		codeID="MPCID_CRATE_D0" />
	<scriptItem title="Security van" 		author="WK" info="MP_SECVAN" 		codeID="MPCID_SECVAN" />
	<scriptItem title="Import/Export HPV" 	author="DW" info="MP_IMPHPV" 		codeID="MPCID_IMP_HPV" />
	<scriptItem title="Amb Mission" 		author="DW" info="MP_AMBMIS" 		codeID="MPCID_GAM_DIR" />
</DebugMenuItems>
